body {
    background-color: rgb(30, 112, 144);
   font-family: Arial, Helvetica, sans-serif;

}

* {margin: 0;}

.topnava {
    overflow: hidden;
    background-color: rgb(30, 112, 144);
    position: fixed;
    width: 100%;
    
    
  }
  
  /* Navbar links */
  .topnava a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .topnava a:hover {
    background-color: rgb(156, 156, 156);
    color: black;
  }
  
  /* Active/current link */
  .topnava a.active {
    background-color: #008cff;
    color: white;
  }

  .relative {

    position: relative;
    width: 700px;
    height: 300px;
    background-color: rgb(71, 65, 65); 
    margin-left: 600px;
    margin-top: 100px;
  }

  .absolute {
    background-color: #ff0000;
    position: absolute;
    top: -30px;
    right: -39px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }

  .absolute p {

    position: absolute;
    top: 15px;
    left: 8px;
    font-size: 12px;
  }
 
  .relative h2 {

    text-align: center;
  }

  .relative p {
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
  
  }

  .slikakam {
    text-decoration: none;
    padding-top: 50px;
    width: 400px;
    padding-left: 300px;

  }

  .kamionislika {

    color: #ff0000;
    text-align: center;
  }

  .idinazad {

    position:fixed;
    left: 1199px;
  }

  .idinazad a {

    color: black;
    text-decoration: none;
    
  }